$staticStorageUrl: "https://cdn.watheia.org/compendium/v1";
// or... uncached for dev:
// $staticStorageUrl: 'https://watheia.sfo3.cdn.digitaloceanspaces.com/compendium/v1';

$staticTypeKitUrl: "https://use.typekit.net/ope1kdm.css";

:export {
  staticStorageUrl: $staticStorageUrl;
  staticTypeKitUrl: $staticTypeKitUrl;
}
