.mfe-components {
  box-sizing: border-box;
  display: flex;
  font-family: Roboto;
  margin: 64px auto;
  width: 1664px;
}
.mfe-components__section {
  display: flex;
}
.mfe-components__column {
  display: flex;
  height: 664px;
  flex-direction: column;
  margin: 0 8px;
  width: 400px;
}
.mfe-components .flex {
  flex: 1;
  box-sizing: border-box;
}
.mfe-components p {
  color: #616161;
  font-size: 14px;
  font-weight: bold;
}

.mfe-component > p {
  color: #616161;
  font-size: 14px;
  font-weight: 400;
  padding-bottom: 0;
}
.mfe-component__section {
  align-items: center;
  background-color: #eeeeee;
  display: flex;
  flex-direction: column;
  height: 400px;
  position: relative;
  overflow: hidden;
  width: 400px;
}
.mfe-component__section--size-narrow {
  height: 152px;
}
.mfe-component__section__content {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  padding: 30px;
}
.mfe-component__section__content__frame {
  position: relative;
  overflow: hidden;
  height: 100%;
  width: 100%;
}
.mfe-component__section--size-full {
  height: 620px;
}
.mfe-component__containers {
  align-items: flex-start;
  display: flex;
  height: 292px;
  flex-direction: row;
}
.mfe-component__containers__primary__only p {
  display: none;
}
.mfe-component__containers__primary,
.mfe-component__containers__secondary {
  display: flex;
  align-items: center;
}
.mfe-component__containers__primary > p,
.mfe-component__containers__secondary > p {
  color: #616161;
  font-size: 11px;
  font-weight: bold;
}
.mfe-component__containers__primary__only {
  margin-top: 40px;
}
.mfe-component__containers__secondary {
  margin-left: 80px;
}
.mfe-component__containers__primary,
.mfe-component__containers__secondary {
  flex-direction: column;
}
.mfe-component__containers__primary > p,
.mfe-component__containers__secondary > p {
  margin: 25px 0 15px;
}
.mfe-component__containers__primary > *[class^="mfe-"]:not(:nth-child(2)),
.mfe-component__containers__secondary > *[class^="mfe-"]:not(:nth-child(2)) {
  margin-top: 40px;
}
.mfe-component__containers[dir-horizontal] {
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.mfe-component__containers[dir-horizontal] .mfe-component__containers__primary__only {
  margin-top: 0;
}
.mfe-component__containers[dir-horizontal] .mfe-component__containers__secondary {
  margin-left: 0;
  margin-top: 12px;
}
.mfe-component__containers[dir-horizontal] .mfe-component__containers__primary,
.mfe-component__containers[dir-horizontal] .mfe-component__containers__secondary {
  flex-direction: row;
}
.mfe-component__containers[dir-horizontal] .mfe-component__containers__primary > p,
.mfe-component__containers[dir-horizontal] .mfe-component__containers__secondary > p {
  margin: 0 16px 0 0;
  text-align: right;
  width: 60px;
}
.mfe-component__containers[dir-horizontal]
  .mfe-component__containers__primary
  > *[class^="mfe-"],
.mfe-component__containers[dir-horizontal]
  .mfe-component__containers__secondary
  > *[class^="mfe-"] {
  margin-top: 0;
  margin-right: 60px;
}
*,
:after,
:before {
  box-sizing: inherit;
}
@media all and (max-width: 1712px) {
  .mfe-components {
    margin: 32px auto;
    width: 832px;
  }
  .mfe-components__section {
    flex-direction: column;
  }
  .mfe-components__column {
    margin-bottom: 64px;
  }
}
@media all and (max-width: 880px) {
  .mfe-components {
    flex-direction: column;
    width: 416px;
  }
}

.mfe-component__buttons .mfe-component__containers__primary .mfe-button,
.mfe-component__buttons .mfe-component__containers__primary .mfe-fab {
  background-color: #215c94;
  color: #ffffff;
}

.mfe-component__buttons .mfe-component__containers__primary .mfe-button--plain,
.mfe-component__buttons .mfe-component__containers__primary .mfe-fab--plain {
  background-color: transparent;
  color: #215c94;
}

.mfe-component__buttons .mfe-component__containers__secondary .mfe-button,
.mfe-component__buttons .mfe-component__containers__secondary .mfe-fab {
  background-color: #f2b705;
  color: #000000;
}

.mfe-component__buttons .mfe-component__containers__secondary .mfe-button--plain,
.mfe-component__buttons .mfe-component__containers__secondary .mfe-fab--plain {
  background-color: transparent;
  color: #f2b705;
}

.mfe-component__buttons
  .mfe-component__containers__primary
  .mfe-button--raised.mfe-ripple-upgraded::before,
.mfe-component__buttons
  .mfe-component__containers__primary
  .mfe-button--raised.mfe-ripple-upgraded::after {
  background-color: rgba(255, 255, 255, 0.06);
}

.mfe-component__buttons
  .mfe-component__containers__primary
  .mfe-button--plain.mfe-ripple-upgraded::before,
.mfe-component__buttons
  .mfe-component__containers__primary
  .mfe-button--plain.mfe-ripple-upgraded::after {
  background-color: rgba(33, 92, 148, 0.06);
}

.mfe-component__buttons
  .mfe-component__containers__primary
  .mfe-fab.mfe-ripple-upgraded::after {
  background-color: rgba(255, 255, 255, 0.16);
}

.mfe-component__buttons
  .mfe-component__containers__primary
  .mfe-fab--plain.mfe-ripple-upgraded::after {
  background-color: rgba(33, 92, 148, 0.16);
}

.mfe-component__buttons
  .mfe-component__containers__secondary
  .mfe-button--raised.mfe-ripple-upgraded::before,
.mfe-component__buttons
  .mfe-component__containers__secondary
  .mfe-button--raised.mfe-ripple-upgraded::after {
  background-color: rgba(0, 0, 0, 0.06);
}

.mfe-component__buttons
  .mfe-component__containers__secondary
  .mfe-button--plain.mfe-ripple-upgraded::before,
.mfe-component__buttons
  .mfe-component__containers__secondary
  .mfe-button--plain.mfe-ripple-upgraded::after {
  background-color: rgba(242, 183, 5, 0.06);
}

.mfe-component__buttons
  .mfe-component__containers__secondary
  .mfe-fab.mfe-ripple-upgraded::after {
  background-color: rgba(0, 0, 0, 0.16);
}

.mfe-component__buttons
  .mfe-component__containers__secondary
  .mfe-fab--plain.mfe-ripple-upgraded::after {
  background-color: rgba(242, 183, 5, 0.16);
}

.mfe-component__selection .mfe-component__containers__primary__only .mfe-snackbar {
  transform: translate(-50%, -100%);
}

.mfe-component__selection .mfe-snackbar {
  left: auto !important;
  transform: translate(-28%, -164%);
  position: absolute;
  min-width: 240px;
  margin-left: -16px;
  width: 240px;
}

.mfe-component__selection .mfe-snackbar__secondary {
  transform: translate(-28%, -40%);
}

.mfe-component__selection .mfe-snackbar__text,
.mfe-component__selection .mfe-snackbar__action-button {
  opacity: 1;
  font-size: 12px;
}

.mfe-component__switches
  .mfe-component__containers__primary
  .mfe-checkbox__native-control:checked:not(:disabled)
  ~ .mfe-checkbox__background,
.mfe-component__switches
  .mfe-component__containers__primary
  .mfe-checkbox__native-control:indeterminate:not(:disabled)
  ~ .mfe-checkbox__background,
.mfe-component__switches
  .mfe-component__containers__primary
  .mfe-radio__native-control:checked
  + .mfe-radio__background
  .mfe-radio__inner-circle {
  background-color: #215c94;
  border-color: #215c94;
}

.mfe-component__switches
  .mfe-component__containers__primary
  .mfe-switch__native-control:checked
  ~ .mfe-switch__background::before,
.mfe-component__switches
  .mfe-component__containers__primary
  .mfe-switch__native-control:checked
  ~ .mfe-switch__background
  .mfe-switch__knob::before,
.mfe-component__switches
  .mfe-component__containers__primary
  .mfe-switch__native-control:checked
  ~ .mfe-switch__background
  .mfe-switch__knob {
  background-color: #215c94;
}

.mfe-component__switches
  .mfe-component__containers__primary
  .mfe-radio__native-control:checked
  + .mfe-radio__background
  .mfe-radio__outer-circle {
  border-color: #215c94;
}

.mfe-component__switches .mfe-component__containers__primary .mfe-checkbox__background::before,
.mfe-component__switches .mfe-component__containers__primary .mfe-radio__background::before {
  background-color: #215c94;
}

.mfe-component__switches
  .mfe-component__containers__secondary
  .mfe-checkbox__native-control:checked:not(:disabled)
  ~ .mfe-checkbox__background,
.mfe-component__switches
  .mfe-component__containers__secondary
  .mfe-checkbox__native-control:indeterminate:not(:disabled)
  ~ .mfe-checkbox__background,
.mfe-component__switches
  .mfe-component__containers__secondary
  .mfe-radio__native-control:checked
  + .mfe-radio__background
  .mfe-radio__inner-circle {
  background-color: #f2b705;
  border-color: #f2b705;
}

.mfe-component__switches
  .mfe-component__containers__secondary
  .mfe-switch__native-control:checked
  ~ .mfe-switch__background::before,
.mfe-component__switches
  .mfe-component__containers__secondary
  .mfe-switch__native-control:checked
  ~ .mfe-switch__background
  .mfe-switch__knob::before,
.mfe-component__switches
  .mfe-component__containers__secondary
  .mfe-switch__native-control:checked
  ~ .mfe-switch__background
  .mfe-switch__knob {
  background-color: #f2b705;
}

.mfe-component__switches
  .mfe-component__containers__secondary
  .mfe-radio__native-control:checked
  + .mfe-radio__background
  .mfe-radio__outer-circle {
  border-color: #f2b705;
}

.mfe-component__switches
  .mfe-component__containers__secondary
  .mfe-checkbox__background::before,
.mfe-component__switches .mfe-component__containers__secondary .mfe-radio__background::before {
  background-color: #f2b705;
}

.mfe-component__switches
  .mfe-component__containers__primary
  .mfe-checkbox.mfe-ripple-upgraded--unbounded::before,
.mfe-component__switches
  .mfe-component__containers__primary
  .mfe-checkbox.mfe-ripple-upgraded--unbounded::after,
.mfe-component__switches
  .mfe-component__containers__primary
  .mfe-radio.mfe-ripple-upgraded--unbounded::before,
.mfe-component__switches
  .mfe-component__containers__primary
  .mfe-radio.mfe-ripple-upgraded--unbounded::after {
  background-color: rgba(33, 92, 148, 0.14);
}

.mfe-component__switches
  .mfe-component__containers__secondary
  .mfe-checkbox.mfe-ripple-upgraded--unbounded::before,
.mfe-component__switches
  .mfe-component__containers__secondary
  .mfe-checkbox.mfe-ripple-upgraded--unbounded::after,
.mfe-component__switches
  .mfe-component__containers__secondary
  .mfe-radio.mfe-ripple-upgraded--unbounded::before,
.mfe-component__switches
  .mfe-component__containers__secondary
  .mfe-radio.mfe-ripple-upgraded--unbounded::after {
  background-color: rgba(242, 183, 5, 0.14);
}

.mfe-component__cards .mfe-card {
  background-color: #ffffff;
  height: 316px;
  width: 262px;
}

.mfe-component__cards .mfe-card__title,
.mfe-component__cards .mfe-card__subtitle {
  font-size: 11px;
  line-height: 17px;
}

.mfe-component__cards .mfe-card__subtitle {
  color: #707070;
}

.mfe-component__cards .mfe-card__header {
  align-items: center;
  display: flex;
  height: 40px;
  padding: 0 16px 20px;
}

.mfe-component__cards .demo-card__avatar {
  background: #bdbdbd;
  height: 40px;
  width: 40px;
  margin-right: 12px;
  border-radius: 50%;
}

.mfe-component__cards .mfe-card__supporting-text {
  font-size: 10px;
}

.mfe-component__cards .demo-card--with-avatar .mfe-card__title,
.mfe-component__cards .demo-card--with-avatar .mfe-card__subtitle {
  margin-left: 56px;
}

.mfe-component__cards .mfe-card__actions {
  display: flex;
  justify-content: flex-end;
  padding: 0 16px 16px 16px;
}

.mfe-component__cards .mfe-card__media {
  height: 140px;
  overflow: hidden;
  padding: 0;
}

.mfe-component__cards .mfe-card__media .material-image {
  top: 64px;
  position: relative;
}

.mfe-component__cards .mfe--theme-primary {
  background-color: #215c94;
  color: #ffffff;
}

.mfe-component__cards .mfe--theme-secondary {
  background-color: #f2b705;
  color: #000000;
}

.mfe-component__cards .material-image .material-image__background {
  fill: #003366;
}

.mfe-component__cards .material-image .material-image--shape-circle,
.mfe-component__cards .material-image .material-image--shape-triangle {
  fill: #215c94;
}

.mfe-component__cards .material-image .material-image--shape-intersection {
  fill: #003366;
}

.mfe-component__cards .mfe-button--raised.mfe--theme-primary.mfe-ripple-upgraded::after {
  background-color: rgba(255, 255, 255, 0.06);
}

.mfe-component__cards .mfe-button--raised.mfe--theme-secondary.mfe-ripple-upgraded::after {
  background-color: rgba(0, 0, 0, 0.06);
}

.mfe-component__menu .mfe-toolbar {
  background-color: #f2b705;
  z-index: 1;
}

.mfe-component__menu .mfe-toolbar {
  height: 56px;
  padding: 16px;
}

.mfe-component__menu .mfe-permanent-drawer {
  border-right: none;
  left: 0;
  position: absolute;
  top: 0;
  z-index: 3;
}

.mfe-component__menu .mfe-backdrop {
  background-color: rgba(0, 0, 0, 0.5);
  height: 100%;
  width: 100%;
  position: absolute;
  z-index: 2;
  top: 0;
  left: 0;
}

.mfe-component__menu .nav-header {
  height: 140px;
  position: relative;
  overflow: hidden;
}

.mfe-component__menu .nav-header .material-image {
  position: relative;
  top: -50px;
}

.mfe-component__menu .mfe-permanent-drawer {
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2), 0 8px 10px 1px rgba(0, 0, 0, 0.14),
    0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.mfe-component__menu .mfe-list-item {
  font-weight: 400;
}

.mfe-component__menu .mfe-list-item.mfe-ripple-upgraded {
  left: 0;
}

.mfe-component__menu .mfe-list-item.mfe-ripple-upgraded::before,
.mfe-component__menu .mfe-list-item.mfe-ripple-upgraded::after {
  background-color: rgba(33, 92, 148, 0.06);
}

.mfe-component__menu .mfe-permanent-drawer .mfe-permanent-drawer--selected::before,
.mfe-component__menu .mfe-permanent-drawer .mfe-list-item:active::before {
  background-color: #215c94;
  opacity: 0.16;
}

.mfe-component__menu .mfe-permanent-drawer--selected.mfe-list-item .mfe-list-item__start-detail,
.mfe-component__menu .mfe-permanent-drawer .mfe-permanent-drawer--selected {
  color: inherit;
}

.mfe-component__menu .material-image__background {
  fill: #003366;
}

.mfe-component__menu .material-image--shape-circle,
.mfe-component__menu .material-image--shape-triangle {
  fill: #215c94;
}

.mfe-component__menu .material-image--shape-intersection {
  fill: #003366;
}

.mfe-component__textfield .mfe-component__containers {
  margin-top: 40px;
}

.mfe-component__textfield .mfe-component__containers__secondary {
  padding: 17px 0;
}

.mfe-component__textfield .mfe-component__containers p {
  padding-bottom: 20px;
}

.mfe-component__textfield .mfe-textfield {
  margin-right: 14px !important;
}

.mfe-component__textfield .mfe-textfield__input {
  width: 264px;
}

.mfe-component__textfield .mfe-textfield__label {
  bottom: 12px;
}

.mfe-component__textfield .mfe-textfield--theme-primary .mfe-textfield__label {
  color: #215c94;
}

.mfe-component__textfield
  .mfe-textfield--theme-primary
  .mfe-textfield:not(.mfe-textfield--upgraded)
  .mfe-textfield__input:focus {
  border-color: #215c94;
}

.mfe-component__textfield .mfe-textfield--theme-secondary .mfe-textfield__label {
  color: #f2b705;
}

.mfe-component__textfield
  .mfe-textfield--theme-secondary
  .mfe-textfield:not(.mfe-textfield--upgraded)
  .mfe-textfield__input:focus {
  border-color: #f2b705;
}

.mfe-component__toolbar .app-bar {
  background-color: #003366;
  display: block;
  height: 20px;
  width: 100%;
}

.mfe-component__toolbar .mfe-toolbar {
  height: 56px;
  padding: 16px;
  flex-direction: row;
  align-items: center;
}

.mfe-component__toolbar .mfe-toolbar__section {
  align-items: center;
}

.mfe-component__toolbar .mfe-toolbar__title {
  padding-left: 8px;
}

.mfe-component__toolbar .material-icons {
  color: #ffffff;
}

.mfe-component__toolbar .material-image {
  position: relative;
  top: -64px;
}

.mfe-component__toolbar main {
  background-color: white;
  height: calc(100% - 48px);
}

.mfe-component__toolbar .cover-image__frame {
  display: block;
  height: 220px;
  position: relative;
  width: 100%;
}

.mfe-component__toolbar .cover-image {
  display: block;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.mfe-component__toolbar .mfe-fab {
  position: absolute;
  bottom: -25px;
  right: 28px;
}

.mfe-component__toolbar .content {
  font-size: 13px;
  line-height: 20px;
  padding: 50px 35px;
}

.mfe-component__toolbar .mfe-component__section__content__frame::before {
  bottom: 0;
  content: "";
  background-image: url(//storage.googleapis.com/demos-in-spec/images/android-bottom.png);
  background-repeat: no-repeat;
  height: 48px;
  position: absolute;
  width: 100%;
  z-index: 9999999;
}

.mfe-component__toolbar .mfe--theme-primary {
  background-color: #215c94;
  color: #ffffff;
}

.mfe-component__toolbar .mfe--theme-secondary {
  background-color: #f2b705;
  color: #000000;
}

.mfe-component__toolbar .material-image .material-image__background {
  fill: #ba8800;
}

.mfe-component__toolbar .material-image .material-image--shape-circle,
.mfe-component__toolbar .material-image .material-image--shape-triangle {
  fill: #ffe94e;
}

.mfe-component__toolbar .material-image .material-image--shape-intersection {
  fill: #ba8800;
}

.mfe-component__toolbar .mfe-icon-toggle::before,
.mfe-component__toolbar .mfe-icon-toggle::after {
  background-color: rgba(255, 255, 255, 0.06);
}

.mfe-component__toolbar .mfe-fab.mfe--theme-primary.mfe-ripple-upgraded::after {
  background-color: rgba(255, 255, 255, 0.16);
}

.mfe-component__toolbar .mfe-fab.mfe--theme-secondary.mfe-ripple-upgraded::after {
  background-color: rgba(0, 0, 0, 0.16);
}
